
.dish {
	width: 220px;
	height: 109px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.dish-card {
	width: 280px;
	height: 156px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
}

.recommended-dishes {
	width: 190px;
	height: 106px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.delete-dish {
	position: absolute;
	opacity: 45%;
	z-index: 1;
	right: 0;
	visibility: hidden;
}

.add-dish {
	width: 220px;
	height: 109px;
	border: 1px solid #41A9E3;
}

.dish:hover .delete-dish {
	visibility: visible;
}

.recommended-dishes:hover .delete-dish {
	visibility: visible;
}

.delete-dish:hover {
	opacity: 100%;
}

.add-dish:hover {
	background-color: #E3F7FD;
	
}

.section__title {
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	display: inline-block;
	margin-bottom: 18px;
}

div svg:hover {
	fill: #19b7e8;
}
