
body {
	
	font-size: 15px;
}

.main-menu-action {
	color: grey;

}

.list-group-item:hover .main-menu-action {
	color: black;
	text-decoration: none;
}

.list-group-item:hover .main-menu-action svg path {
	color: black;
	text-decoration: none;
	fill: black;
}

.menu-item-action  {
	color: grey;

}

.list-group-item:hover .menu-item-action {
	color: #209aba;
	text-decoration: none;
}

.icons-action {
	z-index: 1;
	width: 80px;
	right: 0;
	position: absolute;
	top: 10px;
	padding-right: 15px;
	visibility: hidden;

}

.list-group-item:hover .icons-action {
	visibility: visible;
}

.icons-action .icon1-action:hover svg path {
	fill: red;
}

.icons-action .icon2-action:hover svg{
	fill: red;
}

.icons-action .icon3-action:hover svg{
	fill: red;
}
/*tovar style-->*/
a {
	color: black;
}
a:hover {
color: #6495ed;
} 
	
	a:hover svg path{
	fill: #6495ed;
}

a:hover svg g path{
	fill: #6495ed;	
	border: 1px solid red;
}

.img-service {
	width: 156px;
	height: 126px;	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.img-tablo {
	width: 81px;
	height: 54px;	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

input[type="checkbox"].switch_1{
	font-size: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 1em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
	background: #0dd186;
}

input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
}