
.img-card-scroll {
	width: 100px;
	height: 100px;
	border: 3px solid #ccc;
	border-radius: 100%;
	padding: 10px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;			
}

.img-card-scroll img {
    width: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-scroll {
	min-width: 80%;
	min-height: 100px;
	overflow-x: auto;
}

.card-content{
		min-width: 269.5px !important;
}

.card-scroll::-webkit-scrollbar {
	display: none;
}

.text-link-black {
	color: black;
}
.text-link-black:hover {
color: #6495ed;
} 
	
	a:hover svg path{
	fill: #6495ed;
}

a:hover svg g path{
	fill: #6495ed;	
	border: 1px solid red;
}

.text-link-grey {
	color: #9ba0a5;
}
.text-link-grey:hover {
	color: #6495ed;
} 